<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="CellStateInterface" type="AppVerse.Desktop.Services.Interfaces.GameOfLife.ICellStateEvaluationService,             AppVerse.Desktop.Services.Interfaces" />
    <alias alias="CellStateImplementation" type="AppVerse.Desktop.Services.GameOfLife.CellStateEvaluationService,            AppVerse.Desktop.Services " />
    <alias alias="StillLifeInterface" type="                      AppVerse.Desktop.Services.Interfaces.GameOfLife.IStillLifeEvaluationService,            AppVerse.Desktop.Services.Interfaces" />
    <alias alias="StillLifeImplementation" type="AppVerse.Desktop.Services.GameOfLife.StillLifeEvaluationService,            AppVerse.Desktop.Services" />
    <alias alias="NavigationServiceInterface" type="AppVerse.Desktop.Services.Interfaces.Navigation.INavigationService,            AppVerse.Desktop.Services.Interfaces" />
    <alias alias="NavigationServiceImplementation" type="AppVerse.Desktop.Services.Navigation.NavigationService,            AppVerse.Desktop.Services" />
    <alias alias="NavigationListModel" type="AppVerse.Desktop.Models.Navigation.NavigationList,            AppVerse.Desktop.Models" />
    <container>
      <register type="CellStateInterface" mapTo="CellStateImplementation" />
      <register type="StillLifeInterface" mapTo="StillLifeImplementation" />
      <register type="NavigationServiceInterface" mapTo="NavigationServiceImplementation">
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
      <register type="NavigationListModel">
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      </register>
    </container>
  </unity>
  <modules>
    <module assemblyFile="AppVerse.Desktop.ApplicationConfguration.dll" moduleType="AppVerse.Desktop.ApplicationConfguration.ApplicationConfigurationModule,AppVerse.Desktop.ApplicationConfguration" moduleName="ApplicationConfigurationModule" />
    <module assemblyFile="AppVerse.Desktop.StatusBar.dll" moduleType="AppVerse.Desktop.StatusBar.StatusBarModule,AppVerse.Desktop.StatusBar" moduleName="StatusBar" />
    <module assemblyFile="AppVerse.Desktop.GameOfLife.dll" moduleType="AppVerse.Desktop.GameOfLife.GameOfLifeModule,AppVerse.Desktop.GameOfLife" moduleName="GameOfLife" />
    <module assemblyFile="AppVerse.Desktop.AdventureWorksModule.dll" moduleType="AppVerse.Desktop.AdventureWorksModule.AdventureWorksModule,AppVerse.Desktop.AdventureWorksModule" moduleName="AdventureWorks" />
    <module assemblyFile="AppVerse.Desktop.NavigationModule.dll" moduleType="AppVerse.Desktop.NavigationModule.NavigationModule,AppVerse.Desktop.NavigationModule" moduleName="NavigationModule" />
    <module assemblyFile="AppVerse.Desktop.LodgeModule.dll" moduleType="AppVerse.Desktop.LodgeModule.LodgeModule,AppVerse.Desktop.LodgeModule" moduleName="LodgeModule" />
  </modules>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>