<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
 <configSections>
 
  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>

   <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <alias alias="ServicesInterace" 
           type="AppVerse.Desktop.Services.Interfaces, AppVerse.Desktop.Services.Interfaces.GameOfLife.ICellStateEvaluationService" />

    <alias alias="ServicesImplementation"
           type="AppVerse.Desktop.Services, AppVerse.Desktop.Services..GameOfLife.CellStateEvaluationService" />

    <container>     
      
      <register 
        type="ServicesInterace" mapTo="ServicesImplementation"  />    
    </container>
  </unity>


  <modules>
    <module 
      assemblyFile="AppVerse.Desktop.GameOfLife.dll" 
  moduleType="AppVerse.Desktop.GameOfLife.GameOfLifeModule,AppVerse.Desktop.GameOfLife" 
  moduleName="GameOfLife" />
  

    <module 
      assemblyFile="AppVerse.Desktop.StatusBar.dll" 
  moduleType="AppVerse.Desktop.StatusBar.StatusBarModule,AppVerse.Desktop.StatusBar" 
  moduleName="StatusBar" />
    
    
    
    <module 
      assemblyFile="AppVerse.Desktop.ApplicationConfguration.dll" 
  moduleType="AppVerse.Desktop.ApplicationConfguration.ApplicationConfigurationModule,AppVerse.Desktop.ApplicationConfguration" 
  moduleName="ApplicationConfigurationModule" />
  

  </modules>
  
</configuration>