<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="LodgeModel" connectionString="data source=.;initial catalog=LodgeData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>